@font-face {
  font-family: "Causten";
  src: url(../fonts/causten/Causten-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Causten";
  src: url(../fonts/causten/Causten-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Causten";
  src: url(../fonts/causten/Causten-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Causten";
  src: url(../fonts/causten/Causten-Bold.otf);
  font-weight: 700;
}

body {
  font-family: "Causten";
}

.bottom-black-border {
  margin-bottom: -3px !important;
  border-bottom: 3px solid black !important;
}

.border-bottom-3 {
  border-bottom-width: 3px !important;
}

.color-choice-icon {
  width: 36px;
  height: 36px;
}

.bg-purple {
  background-color: $primary;
}

/* colors */

.bg-orange {
  background-color: #F16F2B;
}

.bg-navy {
  background-color: #345EFF;
}

.bg-green {
  background-color: #48BC4E;
}

.bg-broom {
  background-color: #D67E3B;
}

.bg-blue {
  background-color: #3FDEFF;
}

.bg-pink {
  background-color: pink;
}

.bg-gray {
  background-color: #E4E5E8;
}

.title-highlighter {
  left: -21px !important; 
  border-radius: 6px;
  background-color: $primary;
  width: 6px;
  height: 70%;
}

.footer-background {
  background-color: #3C4242;
}

.icon-menu {
  width: 36px;
  height: 36px;
}

.app-icon {
  width: 150px;
  height: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 992px) {
  .icon-menu {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .order-end {
    order: 1;
  }
}

@media (max-width: 768px) {
  .order-end2 {
    order: 1;
  }
}