.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.container-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  z-index: -1;
  height: calc(100vh - 2rem);
  position: absolute;
  width: 35vw;
  right: 0;
  border-radius: 40px;
  object-fit: cover;
  padding: 1rem;
}

.inter-base {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  line-height: 133%;
}

.unbounded-base {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 133%;
}

.header {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.header .logo {
  margin-right: 1.5rem;
  width: 128px;
  height: 32px;
}
.header .menu-button {
  cursor: pointer;
  border: none;
  color: #08040d;
  background-color: #ffffff;
  font-size: 1rem;
  padding: 8px;
}
.header .menu-button:hover {
  color: #9b54ff;
}

.hero {
  max-width: 540px;
  margin: 2rem 0;
  position: relative;
}
.hero::after {
  position: absolute;
  content: " ";
  right: -380px;
  top: 50%;
  transform: translate(0, -50%);
  width: 320px;
  height: 640px;
  background-size: 320px 640px;
  background-image: url(../images/phone.png);
  filter: drop-shadow(0.2rem 1rem 2rem rgba(0, 0, 0, 0.5));
}
.hero .offer-font {
  font-size: 2.5rem;
  margin-bottom: 1.6rem;
}
.hero .desc-font {
  font-size: 1.1rem;
  font-weight: 400;
  color: #524f56;
  line-height: 140%;
}
.hero .buttons {
  display: flex;
  margin-top: 2.5rem;
  gap: 10px;
  max-width: 400px;
}
.hero .buttons .store-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  color: #b5b4b6;
  border-radius: 16px;
  background-color: #e6e6e7;
  border: none;
}
.hero .buttons .store-button .text {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero .buttons .store-button .text .desc-font {
  font-size: 0.7rem;
  color: #b5b4b6;
}

.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  align-items: center;
}
.footer .footer-text {
  margin-right: 1.5rem;
}
.footer .footer-mail {
  cursor: pointer;
  color: #9b54ff;
  border: none;
  background-color: #ffffff;
  padding: 0.5rem 0;
}

@media screen and (max-width: 1080px) {
  .logo {
    width: 100px;
    height: 25px;
  }
  .hero {
    max-width: 420px;
  }
  .hero .offer-font {
    font-size: 2rem;
  }
  .hero .desc-font {
    font-size: 1rem;
  }
  .hero::after {
    right: -320px;
    width: 280px;
    height: 560px;
    background-size: 280px 560px;
  }
  .header .menu-buttons .menu-button {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 800px) {
  .buttons {
    flex-wrap: wrap;
  }
  .buttons .store-button {
    max-width: 195px;
  }
  .buttons .phone-mobile {
    filter: drop-shadow(0.2rem 1rem 2rem rgba(0, 0, 0, 0.5));
    width: 280px;
    height: 560px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-size: cover;
    background-image: url(../images/phone.png);
  }
  .buttons::before {
    position: absolute;
    content: " ";
    margin-right: auto;
    left: calc((-100vw + 420px) / 2);
    bottom: -20px;
    width: 100vw;
    height: 360px;
    background-size: cover;
    background-image: url(../images/background-mobile.jpg);
    border-radius: 24px;
  }
  .container-hero {
    height: auto;
  }
  .background {
    display: none;
  }
  .menu-buttons {
    color: #9b54ff;
  }
  .hero {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero::after {
    display: none;
  }
  .hero .offer-font {
    font-size: 2rem;
  }
  .hero .desc-font {
    font-size: 1rem;
  }
}
@media screen and (max-width: 430px) {
  .header .menu-buttons .menu-button {
    font-size: 0.75rem;
  }
  .buttons {
    flex-wrap: wrap;
  }
  .buttons .store-button {
    max-width: none;
  }
  .buttons::before {
    left: -1rem;
  }
  .hero .offer-font {
    font-size: 1.75rem;
  }
  .hero .desc-font {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=index.css.map */
